* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'main';
}

@font-face { 
    font-family: "main"; 
    src: url('https://dl.dropboxusercontent.com/s/0wmdk1q8rd1i0yu/Akira%20Expanded%20Demo.otf?dl=0'); 
    format("truetype");
   }

/*START MEDIA QUERY*/
@media screen and (min-width:500px) {
    header {
        align-items:end;
    }
}
/*END MEDIA QUERY*/

body{
    background: lightblue;
}

.start-box{
    width: 50%;
    background: white;
    border-radius: 5px;
    margin: auto;
    padding: 50px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

/*START QUIZ BOX*/
.quiz-box{
    width:50%;
    height: 50%;
    background: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz-box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 4px 8px 0 cornflowerblue,
                0px 6px 20px 0 blue;
}

.quiz-box header title{
    font-size: 20px;
    font-weight: bold;

}

.quiz-box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: blue;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 8 8px;
}

.quiz-box header .timer .timer-txt{
    font-weight: bold;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .timer-time{
    font-size: 18px;
    font-weight: bold;
    background: white;
    height: 30px;
    width: 45px;
    color: blue;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    user-select: none;
}

.quiz-box section{
    padding: 35px 30px 20px 30px;
    background: white;
}

.quiz-box section .que-text{
    font-size: 25px;
    font-weight: bold;
}

.quiz-box section .answer-list{
    padding: 20px 0;
    display: block;
}

section .answer-list .answer{
    background: lightblue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .answer-list .answer:hover{
    color: white;
    background-color: #6495ED;
    border-color: #6495ED;
}
/*END QUIZ BOX*/

.info{
    margin: 20px auto;
}

/*START START BOX*/
.start-box .quiz-title{
    height: 60%;
    width: 100%;
    border-bottom: 1px solid darkblue;
    display: flex;
    padding: 15px 35px;
    font-size: 40px;
    font-weight: bold;
}

.start-box .buttons{
    height: 60%;
    display: flex;
    margin: auto;
    justify-content: flex-end;
    padding: 10px 35px;
    border-top: 1px solid darkblue;
}

.start-box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 2px solid transparent;
    background: lightblue;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
/*END START BOX*/


/*BUTTONS*/
.start-btn,
.start-box,
.quiz-box,
.result-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 cornflowerblue,
                0px 6px 20px 0 blue;
}

.start-btn button{
    font-size: 25px;
    font-weight: bold;
    color: lightblue;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}
/*END BUTTONS*/

.buttons button.continue{
    border-color: darkblue;
    color: white;
}

.buttons button.continue:hover{
    border-color: purple;
    background: plum;
    color: white;
}

.buttons button.restart{
    border-color: white;
    color: white;
    background-color:#6495ED;
}

.buttons button.restart:hover{
    border-color: red;
    background: pink;
    color: white;
}

section .answer-list .answer:last-child{
    margin-bottom: 0px;
}

.answer-list .answer .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.answer-list .answer .icon.tick{
    border-color: red;
    color: magenta;
    background: green;
}

.answer-list .answer .icon.cross{
    border-color: orangered;
    color: yellow;
    background: orange;
}

.quiz-box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-que span{
    display: flex;
    user-select: none;
}

.quiz-box footer .total-que span p{
    font-weight: bold;
    padding: 0 5px;
}

.quiz-box footer .total-que span p:first-child{
    padding-left: 0px;
}

footer .next-btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 1px solid orangered;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next-btn:hover{
    background: orangered;
}

.result-box{
    background: white;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result-box .icon{
    font-size: 100px;
    color: gold;
    margin-botton: 10px;
}

.result-box .ta-da{
    font-size: 20px;
    font-weight: bold;
}

.result-box .score span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
}

.score span p{
    font-weight: bold;
    padding: 0 4px;
    color: blue;
}

.result-box .buttons{
    display: flex;
    margin: 20px 0;
}

.result-box .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #6495ED;
    cursor: pointer;
    transition: all 0.3s ease;
}